<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        
        <p>ID: {{data.empId}}</p>
        <p>First name: {{data.FirstName}}</p>
        <p>Initial: {{data.Initial}}</p>
        <p>Last name: {{data.LastName}}</p>
        <p>Hire Date: {{data.HireDate}}</p>
        <p>Position: {{data.Position}}</p>
        <p>Working Years: {{data.Years}}</p>
        
        {{>footer}}
    </body>
</html>