<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}

        <p>Project ID: {{data.proId}}</p>
        <p>Project Name: {{data.ProjectName}}</p>
        <p>Project Value: {{data.ProjectValue}}</p>
        <p>Project Balance: {{data.ProjectBalance}}</p>
        <p>Manager Name: {{data.ManagerName}}</p>
        
        {{>footer}}
    </body>
</html>